<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/CaféPest2-_2_.ico">
    <title>CaféPest</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="cabecalho">
            <a id="logo" href="index.html"></a>

            <form action="#" id="buscar">
                <input placeholder="Pesquisar" type="text">
                <input type="submit">
            </form>
            <div id="buttons">
                <a href="cadastrar.html" id="login">Login</a>
                <a href="cadastrar.html" id="cadastrar">Cadastrar</a>
            </div>
        </div>
        <div class="secoes">
            <div class="card">
                <a href="noticias.html">Notícias</a>
            </div>
            <div class="card">
                <a href="index.html">Doenças do Café</a>
            </div>
            <div class="card">
                <a href="praga.html">Pragas do Café</a>
            </div>
            <div class="card">
                <a href="">Questionário de Analise</a>
            </div>
            <div class="card">
                <a href="">Material Complementar</a>
            </div>
           
        </div>