<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Pragas</title>
</head>
<body>
    <div class="container">
        <h1>Upload de Imagem para Detecção de Pragas</h1>
        <form id="uploadForm">
            <input type="file" id="imageInput" name="imagem" accept="image/*">
            <button type="submit">Enviar</button>
        </form>
        <div id="result"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>
